body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1;
    line-height: 1.7;
    color: $grey-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading-primary {
    color: $white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 6rem;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: bold;
        letter-spacing: 5px;
        line-height: 1.5;
        animation-name: moveInLeft;
        animation-duration: 1s;
        /* animation-delay: 2s; */
        animation-timing-function: ease-out;
        @include respond (phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 5px;
        animation-name: moveInRight;
        animation-duration: 1s;
        /* animation-delay: 2s; */
        animation-timing-function: ease-out;
        @include respond (phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all, .2s ease-out;
    letter-spacing: 2px;
    //
    @include respond (tab-port) {
        font-size: 3rem;
    }
    @include respond (phone) {
        font-size: 2.5rem;
    }
    &:hover {
        transform: scale(1);
        text-shadow: .5rem 1rem 2rem rgba($black, .2);
    }
}

.heading-tertiary {
    font-size: $default-Font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;
}

.paragraph {
    font-size: $default-Font-size;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}